<template>
    <div>
        <div class="user-card" v-if="user">
            <div class="user-card__photo">
                <expandable-image
                    class="image"
                    :medium-picture="user.picture.medium"
                    :large-picture="user.picture.large"
                    alt="Фото пользователя"
                    :title="`${user.name.title} ${user.name.last} ${user.name.first}`"
                />
            </div>
            <div>{{ user.name.last }}</div>
            <div>{{ user.name.first }}</div>
            <div>{{ `${user.phone}, ${user.email}` }}</div>
        </div>
        <div v-else>Пользователь не найден</div>
    </div>
</template>

<script>
    import ExpandableImage from '../components/ExpandableImage.vue'

    export default {
        name: 'User',
        components: {
            ExpandableImage
        },
        props: ['id'],
        computed: {
            users() {
                return this.$store.getters.USERS;
            },
            user() {
                return this.users.find(user => user.login.md5 === this.id)
            }
        },
    }
</script>

<style scoped>
    .user-card {
        margin: 0 auto;
        width: 300px;
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .user-card__photo {

    }

    .image {
        /*width: 72px;*/
        max-width: 100%
    }
</style>